io.oz.sync*
target
.settings
res-temp

src/test/res/vol-*/**
!src/test/res/vol-*/*.xml
!src/test/res/vol-*/dictionary.json

src/test/res/exbreak-vols/volume-*/*.db
src/test/res/WEB-INF/settings.hub.json
src/test/res/WEB-INF/settings.prv.json
src/test/res/WEB-INF/settings.mob.json
src/test/res/WEB-INF/connects.xml-backup-20*
src/test/res/WEB-INF/connects.xml-settings-merge-backup-20*
src/test/res/WEB-INF/settings.gitignore.*

jetty-log
*.log
client-at-*
build
_build
/bin/
temp