*.zip
main.net
bin/**
!bin/*.bat
!bin/*.sh
build
target
.settings
.classpath
__pycache__
src/test/results/
*-jdk-bug
commit.comments*
comments
exiftool.exe
.qtcreator
*.pyproject.user
*.egg-info
dist
vol
vol-0
*.exe
*.jar
web-dist
web-dist-backup
exiftool_files
exiftool-*
logs
*.log
.idea/encodings.xml