bin
bin-delete
/target/
download
**/volume-*/jserv-main.db
**/volume-*/doc-jserv.db
vol
vol-X29/*.db
vol-X29/temp
vol-X29/ura
vol-Y201/**
!vol-Y201/README.md

volume/*.db
test/results
test/res/ignore*.*
test/res/C000000*.mp4
.extract
./
dist
runtime
runtime-*
winserv.xml
dependency-reduced-pom.xml
nginx
venv*
.venv*
**/WEB-INF/settings.hub.json
**/WEB-INF/settings.prv.json
**/WEB-INF/settings.mob.json
**/volume-x29
**/central-vol
**/settings.x29.json
.classpath
**/uploading-temp
volume-*-backup
volumes-*-backup

# temporary install program
install-settings-delete/*
!install-settings-delete/sample/
!install-settings-delete/*.sh
host.json

web-dist
deploy
deploy-*
*-deploy
my.1.*
build-*
