/target/
download
volume/Robot*
volume/**/* my.jpg
volume/**/ignored*.*
volume/ody/2022_02/*
volume/ody/2022_03/*
volume/ody/2022_04/*
volume/ody/2021_10/*
volume/ody/2021_12/*
volume/ody/ - - /**
volume/ody/uploading-temp
volume/admin
test/results
test/res/ignore*.*
.extract
./
dist
winserv.xml
