bin
/target/
download
volume-*
vol
vol-*
vol2
volume/*.db
test/results
test/res/ignore*.*
test/res/C000000*.mp4
.extract
./
dist
runtime
runtime-*
winserv.xml
dependency-reduced-pom.xml
nginx
**/volume-hub
**/settings.hub.json
**/volume-prv
**/settings.prv.json
**/volume-x29
**/settings.x29.json
.classpath
**/uploading-temp

# temporary install program
install-settings-delete/*
!install-settings-delete/sample/
!install-settings-delete/*.sh
deploy
host.json